@import "reset.css";

:root {
  /* Main background */
  --clr-prim-1: hsl(233, 47%, 7%);
  /* Card background */
  --clr-prim-2: hsl(244, 38%, 16%);
  /* Accent */
  --clr-prim-3: rgb(170, 92, 219);
  /* main heading, stats */
  --clr-neu-1: hsl(0, 0%, 100%);
  /* main paragraph */
  --clr-neu-2: hsla(0, 0%, 100%, 0.75);
  /* stat headings */
  --clr-neu-3: hsla(0, 0%, 100%, 0.6);
}

* {
  font-size: 93.75%;
  font-family: "Inter", sans-serif;
  font-family: "Lexend Deca", sans-serif;
}

body {
  font-family: "Lexend Deca", sans-serif;
  min-height: 100vh;
  display: flex;
  background-color: var(--clr-prim-1);
  color: var(--clr-neu-1);
  justify-content: center;
  align-items: center;
}

.wrap {
  display: flex;
  flex-direction: column;
  width: 80%;
  max-width: 600px;
  background-color: var(--clr-prim-2);
  overflow: hidden;
  border-radius: 10px;
  margin: 3rem 0;
  position: relative;
}

.top {
  width: 100%;
  height: 400px;
  margin-bottom: 2rem;
  background: url(./images/image-header-mobile.jpg);
  background-size: cover;
  position: relative;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(111, 16, 170, 0.55);
}

.bottom {
  padding: 0 1.5rem 1rem 1.5rem;
}

.hero2 {
  display: none;
}

.title {
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  color: var(--clr-neu-1);
  margin-bottom: 1rem;
}

.title span {
  color: var(--clr-prim-3);
  font-weight: 700;
}

.text {
  text-align: center;
  margin-bottom: 2rem;
  color: var(--clr-neu-2);
  line-height: 1.8;
  font-size: 0.95rem;
}

.stats {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.stats > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.8rem;
  font-weight: 700;
  color: var(--clr-neu-1);
  padding: 1rem;
}

.stats span {
  padding-top: 0.5rem;
  font-size: 0.9rem;
  display: block;
  font-weight: 400;
  color: var(--clr-neu-3);
  text-transform: uppercase;
}

@media only screen and (min-width: 1080px) {
  .wrap {
    flex-direction: row-reverse;
    max-width: 1100px;
  }

  .left {
    max-width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 4rem 0 2rem;
  }

  .top {
    margin-bottom: 0;
  }

  .hero {
    display: none;
  }

  .hero2 {
    display: block;
  }

  .title {
    font-size: 2.5rem;
    text-align: left;
    margin-bottom: 2rem;
  }

  .text {
    text-align: left;
  }

  .stats {
    width: 100%;
    justify-content: space-between;
    flex-direction: row;
  }

  .stats > div {
    padding: 0 2rem 0 0;
  }
}
